<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <trace enabled="true" requestLimit="40" localOnly="false" />
    <httpCookies httpOnlyCookies="false" requireSSL="false" />
    <customErrors mode="Off" />
  </system.web>
  <appSettings>
    <add key="ConnectionString" value="Server=myserver;Password=hunter2;Database=mydb;" />
  </appSettings>
</configuration>
